*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/* Header and Navigation goes here */
.nav-bar{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-template-rows: repeat(auto-fit, minmax(1fr, 300px)); 
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.nav-bar .logo>img{
    width:10vw;
    height:auto;
}
.nav-search>input{
    width: 300px;
    height: 35px;
    border-radius: 50px;
    border: .5px solid lightgrey;
     text-align: center;
    font-size: 15px;
    justify-content: left;
    outline: none;
}

.nav-items{
    list-style: none;
    display: grid;
    justify-content:right;
    column-gap: 10px;
    grid-template-columns: 100px 100px 100px 100px;
}
.nav-items>li{
    display: grid;
    align-items: center;
    justify-content: center;   
    background-image: linear-gradient(#ff8046,#ec5b18);
    padding: auto;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}
.nav-items>li>a{
    text-decoration: none;
    /* padding: 10px 25px; */
    background-color: #f76927;
    color: whitesmoke;
    font-weight: 600;
    /* border-radius: 5px; */
}
/* Hero banner section */
.hero-main{
    background-color: #f0f0f0;
}
.hero-section{
    /* width: 1200px; */
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(600px, 600px));
    grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
    grid-gap:5px;
    align-items: center;
}
.hero-section>.hero-text>h4{
    display:grid;
    justify-items: center;
    align-items: center;
    padding: 5px;
    width: 220px;
    height: 20px;
    background-color: tomato;
    color: ghostwhite;
}
.hero-section> .hero-text > h1{
    font-size: 85px;
    font-weight: 900;
    line-height: 90%;
    margin-top: 15px;
    color: #424242;
}
.hero-section> .hero-text > h1 >span{
    color: tomato;
}
.hero-section .hero-text> button.hero-btn{
    border: 1px solid tomato;
    padding: 5px;
    width: 200px;
    height: 40px;
    font-size:1.5em;
    font-weight: 700;
    color: tomato;
    border-radius: 5px;
    margin-top: 15px;
    transition: all .3s;
}
.hero-section .hero-text> button.hero-btn:hover{
    color: #ffffff;
    background-color: tomato;
    border-radius: 5px;
    cursor: pointer;
}
/* food category section */
.food-items{
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    justify-content: center;
}
.food-items h2{
    color: tomato;
}
.food-items h2,p{
    margin: 5px;
    padding: 5px;
}
.burger, .pizza, .coffee, .juice{
padding-top:25px;
padding-bottom:25px;
}
.burger:hover, .pizza:hover, .coffee:hover, .juice:hover{
    box-shadow: 2px 4px 15px lightgrey;
    cursor: pointer;
}
.button{
    border: none;
    padding: 5px;
    width: 150px;
    height: 40px;
    font-size:1.0em;
    font-weight: 500;
    background-color: tomato;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
}
.button>a{
    text-decoration: none;
    color: #ffffff;
}
/* burger section styling */

.top-heading{
    text-align: center;
    font-size: 40PX;
    color: tomato;
    margin-top: 20PX;
    margin-bottom: 20PX;
}
.top-burgers{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,295px);
    grid-gap: 5px;
    margin-bottom: 25px;
}

.top-burger .image{
    grid-column: 1/-1;
    overflow: hidden;
}
.top-burger .image>h2{
    color: #20b2aa;
}
.top-burger button{
    border: none;
    background-color: tomato;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.rating{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
    text-align: right;
    color: #20b2aa;
}


.burger-section{
    background-color: #f0f0f0;
    padding-bottom: 10px;
    padding-top: 10px;
}
.color{
    color: #20b2aa;
}

.contact-section{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 500px));
    grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
    align-items: center;
    justify-content: center;
}
.contact-form form{
    text-align: right;
}
form p{
    font-size: 20px;
    color: whitesmoke;
}
form input{
    width: 300px;
    height: 35px;
    border-radius: 50px;
    border: .5px solid lightgrey;
    /* box-shadow: 0px 2px 10px grey; */
    text-align: center;
    font-size: 15px;
    justify-content: left;
    outline: none;
}
.form{
    height: auto;
    display: grid;
    grid-template-columns: 350px 1fr;
    justify-items: right;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(29, 29, 29);
}
.textarea{
     width: 300px;
    height: 250px;
    border-radius: 5px;
    border: .5px solid lightgrey;
    outline: none;
    text-align: center;
    align-self: center;
    font-size: 15px;
}